body {
    background-color: #DAD6D6;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}


header, footer {
    background-color: whitesmoke;
    display: grid;
    align-items: center;
    justify-content: center;
}

a {
   color: #92BFB1;
}

.page {
    max-width: 960px;
    margin: 1rem auto;
}
h1, h2, p {
    color: #5398BE;
}