* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
   
}

body {
    max-width: 960px;
    margin: 1rem auto;
    background-color: #DAD6D6;

}



header {
    display: flex;
    flex-grow: 1 1 ; 
    justify-content: space-around;
    
}

header, footer {
    background-color: #908484;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 25px;
    font-family: Dancing Script, sans-serif;
    font-size: 28px;
}

ul {
    list-style: none;
}

.section {
    padding: 30px;
}

p {
    font-family: Yanone Kaffesatz, sans-serif;
}

a {
    font-size: 20px; 
    text-decoration: none;
}

a:hover {
    color: lawngreen;
}


.page {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;

    
}


.imagep {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.imaged {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    align-items: center;
}

.social {
    display: grid;
    grid-template-columns: 250px 500px;
    justify-content: space-around;
}
/* Form css */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 350px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgb(72, 85, 80);
    
  }


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  



  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 200px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }